@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Irish+Grover&display=swap');

* {
    color: yellow;
    font-family: "Irish Grover";
}



body {
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    min-height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

#wrapper {
  position: relative;
  z-index: 1;
  color: white;
}

nav {
    display: table;
    margin: 0 auto;
    text-align: left;
}

main {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    font-family: "Henny Penny";
}

img {
    border: 5px solid red;
    border-radius: 5px;
}

footer {
    text-align: center;

}