@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Roboto:wght@400;700&display=swap');

#content {
  max-width: 1600px;
  margin: 0 auto;
}

body {
  background-color: #fcfbfb;
  font-family: 'Rock Salt', cursive;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Rock Salt', cursive;
  padding: 100px;
  color: white;
  text-align: center;
}



p {
  padding: 25px;
}

main {
  max-width: 1600px;
  margin: 0 auto;
}

nav {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}



.logo {
  width: 900px;
}

header img {
  max-width: 50px;
}

nav a:hover {
  background-color: #003366;
}

.book, .join {
  background-color: #1a4e8a;
  padding: 20px;
}

.card-img, .mountains {
  width: 100%;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.rivers-card {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.camping-card {
  grid-column: 5 / 7;
  grid-row: 2 / 3;
}

.rapids-card {
  grid-column: 8 / 10;
  grid-row: 2 / 3;
}

#background {
  grid-column: 1 / 11;
  grid-row: 4 / 9;
}

.mountains {
  grid-column: 2 / 7;
  grid-row: 5 / 8;
}

.msg {
  grid-column: 6 / 10;
  grid-row: 6 / 7;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
}

#hero-msg h4 {
    color: rgb(0, 0, 0);
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-img {
    width: 100%;
}

header {
  display: grid;
  grid-template-columns: 150px auto;
}

nav {
  display: flex;
  justify-content: space-around;
}

.book:hover, .join:hover {
  background-color: #003366;
}

#hero-msg h1, #hero-msg h4 {
  text-align: center;
}

#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;

}



.button-box {
  text-align: center;
}

main section {
  text-align: center;
}

.book, .join {
  color: black;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}
.card-img {
  border: 10px solid black;
}
main section img {
  box-sizing: border-box;
}

#background {
  background-color: #f0f0f0;
}

.msg {
  background-color: #1a4e8a;
}

footer {
  background-color: #1a4e8a;
  font-family: 'Rock Salt', cursive;
  font-size: .5em;
}

nav a {
  color: #ffffff;
  text-align: center;
}

nav a:hover {
  color: #c2ad5b;
}

.home-title {
  color: #1a4e8a;
  font-family: 'Rock Salt', cursive;
}

h4 {
  color: #1a4e8a;
}

.book, .join {
  color: #ffffff;
}

.book:hover, .join:hover {
  color: #ffcc00;
}

.msg h2 {
  color: #ffffff;
  text-align: center;

}

.msg p {
  color: #ffffff;
}

footer {
  color: #ffffff;
}

footer {
    background-color: #6f7364;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
  color: #ffffff;
}

footer a:hover {
  color: #ffcc00;
}

.icon {
  width: 80px;
}

.mountains {
  display: block;
  margin: 0 auto;
}

nav a {
  text-align: center;
  color: #fcfbfb;
  text-decoration: none;
}

footer p {
  font-size: 1.2em;
}

footer p a:hover {
  text-decoration: underline;
}

.social img {
  max-width: 30px;
}

.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
             
.msg {
    background-color: #6f7364;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}